:root {
  --header: #ffffff;
  --portfolio: #2196f3;
  --header-logo: #212121;
  --header-logo-styles: #2196f3;
  --header-color: #ffffff;
  --header-items: #212121;
  --main-item-heading: #212121;
  --main-item-text: #757575;
  --main-skills-heading: #212121;
  --team: #f5f4fa;
  --team-name: #212121;
  --team-profession: #757575;
  --footer-logo-text: #ffffff;
  --hero: #2f303a;
  --hover-focus: #2196f3;
  --contacty: #757575;
  --footer-logo: #ffffff;
}

body {
  font-family: "Roboto";
}

.a {
  text-decoration: none;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.container {
  width: 1200px;

  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-size: 26px;
  line-height: 1.2;

  letter-spacing: 0.03em;
}

/* .section-avto {
  margin: auto;
} */
/* --------------------------------------------------------------general------------------------------------------------------------ */
.general {
  font-family: inherit;
  font-size: 36px;
  line-height: 1.2;
}

.genera-text {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.item-heading {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.border {
  border-bottom: 1px solid #ececec;
}

/* ----------------------------------------------------------header-------------------------------------------------------------- */
.header {
  border-bottom: 1px solid #ececec;

  background: var(--header);
}

.header-center {
  display: flex;
  justify-content: center;
}

.head {
  margin: 24px 0 25px 0;
}

.header-logo {
  color: var(--header-logo);
}

.header-navigation {
  color: var(--header-navigation);
}

.header-logo-styles {
  color: var(--header-logo-styles);
}

.header-flex {
  display: flex;
}

.header-info-margin {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-flex-partfolio {
  margin-bottom: 50px;

  display: flex;
}

.header-items {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--header-items);
}

.header-items:hover,
.header-items:focus {
  color: var(--hover-focus);
}

.header-contakty {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--contacty);
}

.header-contakty:hover,
.header-contakty:focus {
  color: var(--hover-focus);
}

.header-stydia {
  margin-left: 93px;
}

.header-port {
  margin-left: 50px;
}

.header-cont {
  margin-left: 50px;
}

.header-email {
  margin-left: auto;
}

.header-tele {
  margin-left: 50px;
}

/* -----------------------------------------------------------------hero-------------------------------------------------------- */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background: var(--hero);
}
.hero-list {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  max-width: 696px;

  font-family: inherit;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--header-color);
}

.hero-btn {
  margin-bottom: 0%;

  padding: 10px 32px 10px 32px;

  background: var(--header-logo-styles);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-btn-text {
  display: flex;
  align-items: center;
  text-align: center;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--header-color);
}
/* --------------------------------------------------------------main------------------------------------------------------------ */
.main-bottom {
  padding-bottom: 94px;
}

.main-section {
  padding: 94px 0;
  background: var(--header);
}

.main-item {
  display: flex;
}

.main-item-heading {
  margin-bottom: 10px;
  color: var(--main-item-heading);
}

.main-margin {
  display: inline;
  margin-right: 30px;

  width: 270px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.main-margin:last-child {
  margin-right: 0;
}

.main-item-text {
  max-width: 270px;

  color: var(--main-item-text);
}

.main-skills-heading {
  margin-bottom: 50px;

  text-align: center;

  letter-spacing: 0.03em;

  color: var(--main-skills-heading);
}

.main-foto {
  margin-right: 30px;
}

.main-foto:last-child {
  margin-right: 0;
}

.section {
  background: #f5f4fa;
  padding: 94px 0;
}

.main-icon {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

/* --------------------------------------------------------------team------------------------------------------------------------ */

.team {
  padding: 94px 0;

  background: var(--team);
}
.team-heading {
  margin-bottom: 50px;

  text-align: center;

  letter-spacing: 0.03em;

  color: var(--main-skills-heading);
}

.team-foto {
  margin-right: 30px;

  background-color: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-foto:last-child {
  margin-right: 0;
}

.team-name {
  padding-top: 30px;

  text-align: center;

  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: var(--team-name);
}

.team-profession {
  padding-top: 10px;
  padding-bottom: 30px;

  text-align: center;

  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: var(--team-profession);
}

/* ----------------------------------------------------------------footer-------------------------------------------------------------- */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background: var(--hero);
}

.footer-logo {
  display: inline-block;

  margin-bottom: 20px;
  color: #2196f3;
}

.footer-logo-text {
  color: #ffffff;
}

.yu {
  padding-bottom: 0;
}
.cont-padding {
  margin-bottom: 9px;
}
.cont-padding:last-child {
  margin-bottom: 0px;
}

.footer-item {
  color: var(--header-color);
}

.footer-list {
  padding-bottom: 9px;
  padding-bottom: 0;

  color: rgba(255, 255, 255, 0.6);
}

.footer-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}

/* ---------------------------------------------------------btn---------------------------------------------------------------------- */

.btn-text-padding {
  padding: 6px 22px;
}

/* ----------------------------------------------------------portfolio---------------------------------------------------------------- */

.portfolio-section {
  padding: 94px 0;
}

.portfolio-btn {
  color: #212121;

  border-radius: 4px;
  border: none;
  cursor: pointer;
  background: #f5f4fa;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.portfolio {
  color: var(--portfolio);
}

.portfolio-img-flex {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-main {
  font-family: inherit;
  font-size: 16px;
  line-height: 1, 6;
  text-align: center;
  letter-spacing: 0.03em;

  background-color: var(--portfolio-main);
}

.portfolio-img {
  position: absolute;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 262px;

  background: var(--header-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* .portfolio-padding {
  padding-bottom: 94px;
} */

.portfolio-text {
  font-family: inherit;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--items);
}

.portfolio-list {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 8;
  letter-spacing: 0.03em;

  color: var(--contakty);
}

.portfolio-kont {
  color: var(--header-color);
}

.button:button {
  color: var(--logo-color);
}

.portfolio-btn-padding {
  margin-right: 8px;
}
.portfolio-btn-padding:last-child {
  margin-right: 0;
}

/* --------------------------------flex-box--------------------------------------- */
.flex-box {
  width: 370px;
  margin-bottom: 30px;
}

.flex-box:nth-child(1n + 7) {
  margin-bottom: 0;
}

.flex-box:nth-child(3n) {
  margin-right: 0;
}

.border-box {
  border: 1px solid #eeeeee;
  margin-right: 30px;
}

.text-box {
  margin-bottom: 4px;
}

.portfolio-list-test {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}

/* ----------------------------overlay-------------------------------------- */

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Img17.jpg");
  background-size: cover;
  background-position: center;
}

.icon-social::after {
  display: inline-block;
  content: "";
  height: 12px;
  width: 16px;
  background-image: url("../images/instagram.svg");
}

.team-foto-item {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.team-foto-ikon + .team-foto-ikon {
  margin-left: 10px;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  background-color: red;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-soc-svg {
  fill: #afb1b8;
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.email {
  margin-right: 10px;
  background-color: currentColor;
}

.clients {
  margin-bottom: 50px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.main-clients {
  padding: 94px 0;
}

.main-clients-flex {
  display: flex;
  justify-content: center;
}

.main-clients-list + .main-clients-list {
  margin-left: 30px;
}

.main-clients-list:hover,
.main-clients-list:focus {
  color: #ffffff;
}

.main-clients-icon {
  fill: #afb1b8;
}

.main-web {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

.footer-text {
  margin-bottom: 20px;
}

.footer-link + .footer-link {
  margin-left: 10px;
}

.footer-social {
  margin-bottom: 20px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.footer > .container {
  display: flex;
  align-items: baseline;
}

.footer-modern {
  margin-right: 156px;
}

.footer-cont {
  display: flex;
  justify-content: center;
}

.footer-emazing + .footer-emazing {
  margin-left: 10px;
  background-color: red;
}

.footer-social-link {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.social-links {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.social-links:hover,
.social-links:focus {
  background-color: #2196f3;
}

.footer-color-icon {
  fill: #ffffff;
}

.main-clients-icon:hover,
.main-clients-icon:focus {
  border: 1px solid #2196f3;
}

.logo-items {
  background-color: currentColor;
}
